#finance-main {
  padding: 20px;
  width: 100vw;
}
.piechart {
  width: 500px;
  height: 400px;
}
#chart-box {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

#investment-income-graph,
#total-asset-graph {
  width: 1000px;
}
