@import "reset.css";
@import "background.css";
@import "greeting.css";
@import "clock.css";
@import "quote.css";
@import "stock.css";
@import "todoandstock.css";
@import "weather.css";

main {
  font-family: "Rubik", sans-serif;
  /* font-family: "Recursive", sans-serif; */
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#finance-anchor {
  position: absolute;
  bottom: 50px;
  left: 100px;
}
