/* todos */
#todos {
  width: 200px;
}
#todos p {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}
#todos li {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
}
#todo-input input {
  background-color: transparent;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  border: none;
  width: 200px;
  box-sizing: border-box;
}
#todo-input input::placeholder {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.checked {
  text-decoration: solid line-through black 3px;
}
li {
  display: flex;
  align-items: center;
}
li input {
  width: 20px;
  height: 20px;
}
